.container {
    background-color: #161D27;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .stepContainer {
    background-color: #161D27;
    border-radius: 1rem;
    padding: 2rem;
    transition: all 0.3s ease;
  }
  
  .activeStep {
    background-color: #202B36;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  }